

<div style="background:#F7F7F7;">
    
    <div class="">

        <a class="hiddenanchor" id="tologin"></a>

         <div class="center-margin col-md-5 col-sm-8 col-xs-8">
            <div id="login" class="animate form">
                <section class="login_content">


                    <form action="traiteConnexion.php" method="post" class=" animated fadeInDown">
                        <h1>Connectez-vous!!!</h1>
                        
                        
                        <div>
                            <input type="text" class="form-control" placeholder="Identifiant" required="" name="pseudo"/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" name="mdp"/>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-default submit" value="Connecter"><br>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>GESTION HOTEL</h1>

                                <p>©copyright 2017 All Rights Reserved. Gestion hotel! est une application realisée par nous même.</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
            
        </div>
    </div>

</div>
