<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Réservation</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div ng-switch="reservationCtrl.state">
                <ul class="nav nav-tabs bar_tabs">
                    <li role="presentation" class="">
                        <a href="" ng-click="reservationCtrl.changeState('create')">Créer</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="" ng-click="reservationCtrl.changeState('detail')">Détail</a>
                    </li>
                </ul>

                <!-- DEBUT *************************************************-->
                <div class="tab-content">
                    <!-- CREER -->
                    <div ng-switch-when="create" class="tab-pane fade active in" ng-repeat="r in reservationCtrl.client">


                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left  animated fadeInDown">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                  Nom Client <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input ng-model="r.nom_client" id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                  Prenom Client <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input ng-model="r.prenom_client" id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Date expiration <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Téléphone <span class="required">*</span>
                                 </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Ville de provenance <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Initialiser</button>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- FIN CREER -->


                    <!-- Modif -->
                    <div ng-switch-when="update" class="tab-pane fade active in">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left  animated fadeInDown">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Client</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="select2_single form-control" tabindex="-1">
                                            <option value="AK">juno</option>
                                            <option value="HI">Hawaii</option>
                                        </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Date réservation <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Date expiration <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Téléphone <span class="required">*</span>
                                 </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Ville de provenance <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Initialiser</button>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /modif -->

                    <!-- DETAIL -->
                    <div ng-switch-when="detail" class="tab-pane fade active in ">

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="detail la réservation...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="x_content ">
                                    <div class="x_content">
                                        <table id="example" class="table table-striped responsive-utilities jambo_table  animated fadeInDown">
                                            <thead>
                                                <tr class="headings">
                                                    <th>
                                                        <input type="checkbox" class="tableflat">
                                                    </th>
                                                    <th>Numero </th>
                                                    <th>Date reservation </th>
                                                    <th>Date expiration </th>
                                                    <th class=" no-link last">
                                                        <span class="nobr">Action</span>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="even pointer">
                                                    <td class="a-center ">
                                                        <input type="checkbox" class="tableflat">
                                                    </td>
                                                    <td class=" ">
                                                        <a href="" ng-click="reservationCtrl.changeState2('voir')">
                                                        RES/2017/01
                                                    </a>
                                                    </td>
                                                    <td class=" ">
                                                        <a href="" ng-click="reservationCtrl.changeState2('voir')">
                                                        12/07/2017</a>
                                                    </td>
                                                    <td class=" ">
                                                        <a href="" ng-click="reservationCtrl.changeState2('voir')">
                                                        19/07/2017
                                                    </a>
                                                    </td>
                                                    <td class=" last">
                                                        <span>
                                                        <a  href="" title="modifier" alt="" ng-click="reservationCtrl.changeState('update')">
                                                            <i title="Modifier?" style="color:#50afe0" class="fa fa-edit"></i>
                                                        </a>
                                                    </span>&nbsp;|&nbsp;

                                                        <span>
                                                        <a href=""  alt="" >
                                                            <i title="Supprimer?" class="fa fa-trash" style="color:#ef5031" ></i>
                                                        </a>
                                                    </span>

                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                        <!-- PAGINATION
                                        <div class="container">
                                            <div class="text-center">
                                                
                                                <ul class="pagination">
                                                    <li><a href="">Début</a></li>
                                                    <li>
                                                        <a href="">Précedent</a>
                                                    </li>
                                                    <li>
                                                        <a href="">1</a>
                                                    </li>
                                                    <li>
                                                        <a href="">2</a>
                                                    </li>
                                                    <li>
                                                        <a href="">3</a>
                                                    </li>                
                                                    <li>
                                                        <a href="">suivant</a>
                                                    </li>
                                                    <li >
                                                        <a>Fin</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        -->

                                    </div>

                                </div>

                            </div>

                            <div ng-switch="reservationCtrl.state2">

                                <div ng-switch-when="voir" class="col-md-6">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="row">

                                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">

                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-md-12 col-sm-12 col-xs-12 animated fadeInDown">

                                                    <div class="well profile_view">
                                                        <div class="col-sm-12">
                                                            <h4 class="brief"><i>Info de la réservation</i></h4>
                                                            <div class="left col-xs-7">
                                                                <h2>Merveille</h2>
                                                                <p><strong>Nº Résevation: </strong> RES/2017/01 </p>
                                                                <ul class="list-unstyled">
                                                                    <li><i class="fa fa-calendar"></i> Date Rés: 12/08/2017</li>
                                                                    <li><i class="fa fa-calendar"></i> Date exp: 19/08/2017</li>
                                                                    <li><i class="fa fa-phone"></i> +243 99999999</li>

                                                                </ul>
                                                            </div>
                                                            <div class="right col-xs-5 text-center">
                                                                <img src="lib/images/user.png" alt="" class="img-circle img-responsive">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 bottom text-center">
                                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                                <p class="ratings">

                                                                    <a href=""><span class="fa fa-star"></span></a>
                                                                    <a href=""><span class="fa fa-star"></span></a>
                                                                    <a href=""><span class="fa fa-star"></span></a>
                                                                    <a href=""><span class="fa fa-star"></span></a>

                                                                </p>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                                <button type="button" ng-click="reservationCtrl.changeState('update')" class="btn btn-primary btn-xs"> <i class="fa fa-user">
                                                                                            </i> <i class="fa fa-edit-o"></i> Editer </button>
                                                                <button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-close">
                                                                                            </i> Annuler </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIN DETAIL -->

                </div>
                <!-- FIN -->

            </div>
        </div>
    </div>
</div>